{:rabbitmq
 {:connection {:host #env "RABBITMQ_PORT_5672_TCP_ADDR"
               :port #long #env "RABBITMQ_PORT_5672_TCP_PORT"}
  :kehaar {:event-exchanges [{:exchange "events"}]

           :incoming-services
           [{:queue "{{name}}.ok"
             :f {{name}}.handlers/ok
             :response true
             :threads 2
             :prefetch-limit 2}]

           :external-services []

           :incoming-events []

           :outgoing-events []}}{{^datomic?}}}{{/datomic?}}{{#datomic?}}

 :datomic {:uri #env "{{env-var-style}}_DATOMIC_URI"
           :partition :{{name}}}}
{{/datomic?}}
