{:rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :queues {"{{name}}.ok" {:exclusive false :durable true :auto-delete false}}}
 :datomic {:uri #resource-config/env "DATOMIC_URI"
           :partition :{{name}}
           :initialize true
           :run-migrations true}}
