#Configuration for https://www.npmjs.com/package/k8s-scripts

# Dockerfile to build
DOCKERFILE='Dockerfile'

# Name of repository/project
REPOSITORY_NAME='{{name}}'

# Docker tag that will be created
# Defaults to concatenation of your external registry + repository name
DOCKERTAG='quay.io/democracyworks/{{name}}'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/democracyworks

## Additional Docker image tags to add to built images. Environment variables
## are those used by rok8s-scripts.
##
## See: https://github.com/FairwindsOps/rok8s-scripts/blob/master/docs/docker.md#list-of-variables
ADDITIONAL_DOCKER_TAG_VERSIONS=("${CI_BRANCH_DOCKER_TAG}-$(date +%s)-${CI_SHA1:0:7}")

# Namespace to work in
NAMESPACE=''
