#Configuration for https://www.npmjs.com/package/k8s-scripts

# Dockerfile to build
DOCKERFILE='Dockerfile'

# Name of repository/project
REPOSITORY_NAME='{{name}}'

# Docker tag that will be created
# Defaults to concatenation of your external registry + repository name, i.e.:
DOCKERTAG='quay.io/democracyworks/{{name}}'

EXTERNAL_REGISTRY_BASE_DOMAIN=quay.io/democracyworks
# Namespace to work in
NAMESPACE=''
